*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial,sans-serif;
}

body{
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
    background:black;
}

.calculator{
    width:320px;
    padding:20px;
    background:black;
    border-radius:30px;
}

#display{
    width:100%;
    height:80px;
    border:none;
    background:black;
    color:white;
    text-align:right;
    font-size:45px;
    margin-bottom:15px;
}

.buttons{
    display:grid;
    grid-template-columns:repeat(4,1fr);
    gap:10px;
}

button{
    width:65px;
    height:65px;
    border:none;
    border-radius:50%;
    font-size:24px;
    cursor:pointer;
    background:#333;
    color:white;
}

.gray{
    background:#a5a5a5;
    color:black;
}

.orange{
    background:#ff9f0a;
}

.zero{
    width:140px;
    border-radius:35px;
    grid-column:span 2;
}